:root {
    --cor-principal: #27ae60;
    --cor-secundaria: #f5faf5;
    --cor-terciaria: #2c3e50;
    --cor-texto-escura: #000000;
    --cor-texto-clara: #FFFFFF;
    --transicao: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --fonte-principal: 'Inter', sans-serif;
    --tamanho-padrao: 16px;
}

body {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-padrao);
}

header {
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 2vmin 16px;
    text-align: center;
}

.hero {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 26, 0.45);
    border-radius: 25px;
}

.hero h1,
.hero p,
.hero button {
    position: relative;
    z-index: 1;
}

.h1-banner {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;
    margin-bottom: 16px;
}

.p-banner {
    font-size: 1.2rem;
    margin-bottom: 32px;
}

.button-banner {
    color: var(--cor-texto-clara);
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 400px;
    cursor: pointer;
    user-select: none;
    transition: var(--transicao);
}

.button-banner:hover {
    transform: scale(1.3) translateY(-5px);
    background-color: var(--cor-texto-clara);
}

.button-banner:active {
    color: #e09510;
    transform: scale(1.25);
}

footer {
    background-color: var(--cor-terciaria);
    color: var(--cor-texto-clara);
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    /* position: fixed; */
    bottom: 0;
}